.breadcrumbs {
  padding: 8px;
  background-color: var(--clr-gray-bright);
  border: 1px solid var(--clr-gray-charcoal-lt);

  ul {
    list-style: none;
    display: flex;
  }

  a {
    position: relative;
    text-decoration: none;
    color: black;
  }

  a:hover::after,
  a:active::after {
    transform: scaleX(1) scaleY(0.5);
  }

  a::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color: black;
    transform: scaleX(0) scaleY(0.5);
    transform-origin: bottom left;
    transition: transform 200ms ease-in-out;
  }

  li:not(:first-child)::before {
    content: "→";
    color: var(--clr-gray-charcoal);
    padding: 0 16px;
  }
}
