.link_wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 3px;
  transition: all 100ms ease-in-out;
  border: 1px solid transparent;

  &:hover,
  &:active,
  &:focus,
  &:focus-within,
  &:focus-visible {
    box-shadow: 0 0 0 3px var(--clr-gray-charcoal-dk), 0 0 0 4px white;
  }
}

.nav_link {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  border: 1px solid transparent;

  span {
    padding: 0.5rem;
  }

  &:focus-visible {
    box-shadow: none;
  }
}
