.container {
  padding: 8px 0;
  display: flex;
  flex-flow: column nowrap;
  column-gap: 60px;
  justify-content: space-between;
  align-items: flex-start;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.label_container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 8px;
}

.label {
  color: var(--clr-gray-charcoal);
  font-weight: 600;
}

.optional.label::after {
  content: "(optional)";
  color: var(--clr-gray-charcoal-lt);
  font-style: italic;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  padding-left: 8px;
}

.popover_wrapper {
  height: 1rem;
  width: 1rem;
}
