.label {
  margin-bottom: 8px;
  color: var(--clr-gray-charcoal);
  font-weight: 600;
}

.optional.label::after {
  content: "(optional)";
  color: var(--clr-gray-charcoal-lt);
  font-style: italic;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  padding-left: 12px;
}
