.appear {
  opacity: 0;
  transform: scale(1.5);
}

.appearActive {
  opacity: 1;
  transform: scale(1);
  transition: all 50ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.appearDone {
  opacity: 1;
  transform: scale(1);
}

.enter {
  opacity: 0;
  transform: scale(1.5);
}

.enterActive {
  opacity: 1;
  transform: scale(1);
  transition: all 50ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.enterDone {
  opacity: 1;
  transform: scale(1);
}

.exit {
  opacity: 1;
  transform: scale(1);
}

.exitActive {
  opacity: 0;
  transform: scale(1.5);
  transition: all 50ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.exitDone {
  opacity: 0;
  transform: scale(1.5);
}
