:root {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 1.75rem;
  --clr-gray-x11: #bbb;
  --clr-gray-bright: #eee;
  --clr-gray-philippine: #8c8c8c;
  --clr-gray-charcoal: #333;
  --clr-gray-argent: #c0c0c0;
  /* color scheme webdesign */
  --clr-bg: #ffffff;
  --clr-text: #0f1112;
  --clr-accent1: #181c1f;
  --clr-accent2-: #22272b;
  /* color scheme webdesign end */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.text-field-wrapper {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.text-field {
  width: 300px;
  height: 3.5rem;
  font: inherit;
  padding: 0.6rem 3rem 0.6rem 2rem;
  border-radius: 7px;
  border: 1px solid grey;
  color: inherit;
  appearance: none;
  background-color: inherit;
  outline: none;
}

.text-field:focus,
.text-field:focus-visible {
  background-color: #f5f7fa;
}

.text-field-prefix {
  width: 2rem;
  padding-right: 0.2rem;
  position: absolute;
  text-align: right;
  font-weight: 500;
  color: var(--clr-gray-charcoal);
  pointer-events: none;
}

.text-field-suffix {
  content: "sq/ft";
  width: 3rem;
  position: absolute;
  right: 0;
  text-align: center;
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--clr-gray-charcoal);
  pointer-events: none;
}

.button {
  font-size: inherit;
  appearance: none;
  border: 1px solid #fcd847;
  border-radius: 7px;
  background-color: #fcd847;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  margin: 32px 0;
  padding: 12px 24px;
  cursor: pointer;
}

.button:hover {
  background-color: #f3c407;
}

.text-field:focus,
.text-field:focus-visible,
.button:focus,
.button:focus-visible {
  border-color: rgb(54, 183, 159);
  box-shadow: inset 0 0 0 2px #fff, 0 0 0 3px #c8f3fa;
  outline: none;
}
