:root {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 1.75rem;
  --clr-gray-x11: #bbb;
  --clr-gray-bright: #eee;
  --clr-gray-bright-transparent: hsl(0, 0%, 93% / 90%);
  --clr-gray-bright-lt: #fdfdfd;
  --clr-gray-bright-dk: #d6d6d6;
  --clr-gray-bright-lt-transparent: hsl(0 0% 99% / 80%);
  --clr-gray-philippine: #8c8c8c;
  --clr-gray-charcoal: #333;
  --clr-gray-charcoal-lt: #5c5c5c;
  --clr-gray-charcoal-dk: #1a1a1a;
  --clr-gray-argent: #c0c0c0;
  --clr-slate-lt: #f1f2f4;
  /* color scheme webdesign */
  --clr-bg: #ffffff;
  --clr-text: #0f1112;
  --clr-accent1: #181c1f;
  --clr-accent2-: #22272b;
  /* color scheme webdesign end */
  --clr-turquoise: #36b79f;
  --clr-turquoise-lt: #c8f3fa;
  --clr-palatinate-blue: #3d4cd9;
  --clr-button-blue: #249ef0;
  --clr-royal-blue: #435cd9;
  --clr-pigment-blue: #422da8;
  --blue-accent: #89b2ff;
  --blue-accent-lt: #dce8ff;
  --blue-accent-dk: #002976;
  --gray-accent-lt: #f9f9f9;
  --gold-lt: #fcd847;
  --gold: #fbcb07;
  --gold-dk: #deb304;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px white, 0 0 0 3px var(--clr-gray-charcoal-dk);
}

.page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 0.5rem;
}

.text-field-wrapper {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.text-field {
  width: 100%;
  height: 3rem;
  font: inherit;
  padding: 0.6rem 3rem 0.6rem 2rem;
  border-radius: 7px;
  border: 1px solid grey;
  color: inherit;
  appearance: none;
  background-color: inherit;
  outline: none;
}

.text-field:focus,
.text-field:focus-visible {
  background-color: #f5f7fa;
  background-color: var(--gray-accent-lt);
}

.text-field-prefix {
  width: 2rem;
  padding-right: 0.2rem;
  position: absolute;
  text-align: right;
  font-weight: 500;
  color: var(--clr-gray-charcoal);
  pointer-events: none;
}

.text-field-suffix {
  content: "sq/ft";
  width: 3rem;
  position: absolute;
  right: 0;
  text-align: center;
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--clr-gray-charcoal);
  pointer-events: none;
}

.button {
  width: max-content;
  font-size: inherit;
  appearance: none;
  border: none;
  border-radius: 7px;
  background-color: var(--gold-lt);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  margin: 32px 0;
  padding: 12px 24px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--gold);
}

.button:active {
  background-color: var(--gold-dk);
}

.text-field:focus,
.text-field:focus-visible,
.button:focus,
.button:focus-visible {
  border-color: var(--clr-turquoise);
  box-shadow: inset 0 0 0 2px #fff, 0 0 0 3px var(--clr-turquoise-lt);
  outline: none;
}

.a-page {
  padding: 0 3rem;
}

.a-flex-container {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 3rem;
  justify-content: space-between;
}
